@CHARSET "UTF-8";
.dropdown-backdrop {
    position: static;
}
.tr-green {
	background-color: #72d968;
}
.text-inactive{
	color: #C8C8C8;
}
.text-canClick{
	cursor: pointer;
}
.text-clicked{
	font-weight: bold;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}